div{
	width: 100px;
	height: 50px;
	margin-bottom: 20px;
}
.first_method{
	border: 1px solid red;
}
.second_method{
	outline: 1px solid black;
}
.third_method{
	position: relative;
  	border: 10px solid green; 
}
.third_method:after, .third_method:before {
  content: '';
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.third_method:after {
  outline: 5px solid yellow;
}
 
.third_method:before {
  border: 10px solid blue;
}
.fourth_method {
    border: 5px solid red;
    box-shadow: 0 0 0 5px orange;
}
.fifth_method{
	border: 20px groove aqua;
	border-style: groove;
}
