body{
	position: relative;
	height: 100vh;
	margin: 0;
	padding: 0;
}
.wrapper{
	max-width: 100%;
	margin: auto;
}
#header{
	background-color: #2f364a;
	border-radius: 5px 5px 0 0;
	display: flex;
	justify-content: flex-end;
}
.header_support{
	display: flex;
	align-items: center;
}
.header_support_link{
	text-decoration: none;
	text-transform: capitalize;
	color: #78829d;
	font-family: Proxima Nova;
	font-size: 13px;
	line-height: 26px;
	padding: 0 10px;
}
.header_point{
	background: #19202e;
	border-radius: 50%;
	height: 4px;
	width: 4px;
}
.header_user{
	background-color: #15a4fa;
	border-radius: 0 5px 0 0;
	display: flex;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.header_user_ava{
	display: flex;
	align-items: center;
	padding: 0 10px;
}
.user_ava_pic{
	padding-right: 10px;
}
.user_name{
	color: #ffffff;
	font-family: "Proxima Nova";
	font-size: 13px;
	font-weight: 400;
	line-height: 26px;
	text-transform: capitalize;
}
.header_user_menu{
	padding-right: 15px;
	color: #fff;
}