.animation1 {
  font-size: 10px;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.animation1:before {
  width: 50%;
  height: 50%;
  background: #82e4e0;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.animation1:after {
  background: #0dc5c1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.animation2 {
  display: flex;
  align-items: center;
  width: 300px;
  height: 100px;
  border-left: 50px solid #000;
  border-right: 50px solid #000;
  margin-bottom: 40px;
}
@keyframes jump{
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 100px;
  }
  50%{
    margin-left: 250px;
  }
  75%{
    margin-left: 100px;
  }
  100%{
    margin-left: 0;
  }
}
.round{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: red;
  animation: jump 4s infinite linear;
}
.animation3{
  width: 100px;
  height: 100px;
  animation: steps 10s infinite linear;
}
@keyframes steps{
  0%{
    border-radius: 50%;
    background: radial-gradient(40% 50%, red, green);
  }
  14% {
    border-radius: 0;
  }
  28%{
    background: linear-gradient(to right, orange, gray);
  }
  42%{
    transform: scale(2);
    transform: skew(45deg);
  }
  56%{
    transform: rotate(360deg);
  }
  75%{
    background: linear-gradient(to right, black 20%, yellow 20%, aqua 80%, purple 80%);
  }
  100%{
    border-radius: 50%;
  }

}